body {                                     
    background-color: white;
    margin: auto;
    font-family: 'Inter', sans-serif;
}

.navbar.navbar-expand-lg.navbar-light.bg-light{
    background: white !important;    /*habia un !important en .bg-light que no me permitia cambiar el color*/
    border-bottom: solid 1px rgb(234, 234, 234)
}

.navbar.navbar-expand-lg.navbar-light.bg-light{
    padding-bottom: 0;
}

.nav-link{
    color: black !important;
}

nav li{
    margin: 0 px;
    list-style: none;
    padding: 30px 50px;
    border-bottom: solid 3px transparent;
}

nav li:hover{
    border-bottom: solid 3px;
}

nav a{
    text-decoration: none;
    color: black;
    
}

li.nav-item{
    display: flex;
    align-items: center;
    text-align: center;
}

a.dropdown-item{
    text-align: center;

}

nav img{
    height: 60px;
    width: auto;
    margin: 2%;
}

header {
  position: relative;
  background-color: black;
  height: 30vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

.catalogo-lp h3{
    padding: 50px 0px;
    font-size: 40px;
    margin: 0;
}

.catalogo-lp{
    width: 80%;
    margin: auto;
    text-align: center;
}

.card-body h5{
    font-size: calc(20px + 1vh);
}

div.card-body{
    margin: 0;
}

h5.card-title{
    margin: 0;
}

.carousel-control-prev, .carousel-control-next{
    width: 32px;
}

footer{
    background-color: rgb(30, 30, 30);
}

.footer-top p{
    padding: 10px 10px;
    margin: 0;
    color: white;
    font-size:calc(12px + 1.5vw);
}

footer img{       
    width: calc(30px + 2vw);
    margin:10px 30px calc(10px + 3vw);
}

footer a{
    color: rgb(66, 66, 66);
    text-decoration: none;
    font-size: 10px;
}

footer a:hover{
    color: white;
    text-decoration: none;
}

footer span{
    color: rgb(66, 66, 66);
    font-size: 10px;
}